streamlit>=1.32
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu
torchvision==0.19.1+cpu
torchaudio==2.4.1+cpu
scipy
plotly
pandas
numpy
json
matplotlib








